.main {
  display: none;
}
#area-dino-fights {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dino-card {
  display: flex;
  align-items: center;
  margin: 20px;
  width: 275px;
  height: 400px;
  border: 1px solid black;
  border-radius: 4px;
  .card-content {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 365px;
    border-radius: 4px;
    .card-img {
      width: 100%;
      height: 250px;
      overflow: hidden;
      background-color: green;
      border-radius: 4px;
    }
    .card-slide-box {
      position: absolute;
      border-radius: 4px;
      width: 100%;
      height: 365px;
      top: 250px;
      background-color: #000000a8;
      transition: all 500ms ease;
      color: black;
    }
    .card-slide-box:hover {
      background-color: #000000a8;
      position: absolute;
      top: 0px;
      color: white;
    }
    h2 {
      text-align: center;
      font-size: 1.5em;
    }
  }
}
