
form#new-dino {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  margin: 20px;
    label {
    margin: 10px auto;
    display: block;
  }
  input {
    display: block;
    width: 100%;
    padding: 5px;
  }
  button {
    margin: 10px auto;
    padding: 10px;
    background: green;
    font-size: 1.5em;
    display: block;
  }
}
